@page "/"


<PageTitle>Index</PageTitle>
<div class="container">
    <div class="row">
        @foreach(var p in products)
            {
                <CategoryNav navLink = "/Products" Text=@p picUrl="https://www.planetware.com/wpimages/2020/02/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg"></CategoryNav>
            }
    </div>
</div>

@code
{
    List<string> products = new() { "CPU", "GPU", "Motherboard", "RAM", "PSU"};
}