@page "/"
@inject HttpClientWrapper _http;
@inject HttpClient _httpClient;

<PageTitle>IT Store</PageTitle>
<div class="container justify-content-center d-flex flex-column">
    <div style="overflow-x:auto;" class="d-flex flex-nowrap">
        @foreach(var p in Categories)
            {
                string navLink = $"/Products/{p.Type}";
                <CategoryNav navLink=@navLink Text=@p.Name picUrl="@p.Imgurl"></CategoryNav>
            }
    </div>
</div>

<div class="container d-flex flex-md-row flex-column">
    <NewsComponent Classes="col-12 col-md-4 flex-row">
        <div class="col-12">
            <h5 class="display-5 text-white" style="text-align:center">Newest products</h5>
            <Carousel FreshProducts=@FreshProducts></Carousel>
        </div>
    </NewsComponent>
    <NewsComponent Classes="flex-column col-12 col-md-8">
            <h1 style="text-align:center" class="text-white display-5">News</h1>
            <div style="overflow-x:auto;" class="d-flex flex-nowrap flex-row">
                @if(newsResponse.articles is not null)
                {
                    @foreach(Article article in newsResponse.articles)
                    {
                        <AppleNewsComponent Article=@article></AppleNewsComponent>
                    }
                }
            </div>
    </NewsComponent>
</div>


@code
{
    /*[Parameter]
    public int CarouselActiveId{ get; set; }*/

    List<Product> Categories = new()
    {
        new() { Id = 0, Name = "CPU", Type = 1, Imgurl = "https://media.istockphoto.com/photos/microprocessor-and-cpu-technology-concept-picture-id1165403763?k=20&m=1165403763&s=612x612&w=0&h=Vh25eBdPjL3sYvsmDovXNNfr1Zx7mmk4-RjNNbIZYk8=" },
        new() { Id = 0, Name = "GPU", Type = 2, Imgurl = "https://cdn.mos.cms.futurecdn.net/Co6eHbLjAcTYheqWTjuvGK.jpg" },
        new() { Id = 0, Name = "MOBO", Type = 3, Imgurl = "https://static3.bigstockphoto.com/1/0/2/large1500/20135.jpg" },
        new() { Id = 0, Name = "RAM", Type = 4, Imgurl = "https://images.freeimages.com/images/large-previews/9bc/ram-1515556.jpg" },
        new() { Id = 0, Name = "PSU", Type = 5, Imgurl = "https://image.shutterstock.com/image-illustration/computer-ac-power-supply-unit-260nw-1983455408.jpg" }
    };

    List<Product> FreshProducts = new();
    AppleArticlesRoot newsResponse = new();

    protected override async Task OnInitializedAsync()
    {
        await GetFreshProducts();
        await GetAppleNews();
    }

    private async Task GetFreshProducts()
    {
        var result = await _http.Send(HttpMethod.Get, "api/Products/Fresh");
        if(result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            FreshProducts = JsonSerializer.Deserialize<List<Product>>(content) ?? new();
        }
    }

    private async Task GetAppleNews()
    {
        var result = await _httpClient.GetAsync("https://newsapi.org/v2/everything?q=apple&from=2022-03-16&to=2022-03-16&sortBy=popularity&apiKey=30a9f57a61734e1fb53c571c3dca69ac");
        if(result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            newsResponse = JsonSerializer.Deserialize<AppleArticlesRoot>(content);

        }
    }


}