@page "/Login"
@inject NavigationManager _navigationManager
@inject HttpClientWrapper _http;

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh">
    <div class="col-6">
        <h3 class="display-4 text-white p-2" style="text-align:center;">Login</h3>
        <EditForm Model=@User OnSubmit=@LoginUser>
            <div class = "@showErrorClass alert alert-danger">
                <p>We couldn't log you in with the given details.</p>
            </div>
            <div class="col-12">
                <input type = "email" @bind="User.Email" class="form-control" placeholder="email"/>
            </div>
            <div class="col-12">
                <input type = "password" @bind="User.Pw" class="form-control" placeholder="password"/>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public User User = new();
    bool showError = false;
    string showErrorClass => showError ?  "" : "collapse";

    public async Task LoginUser()
    {
        var result = await LoginApiCall();
        var content = await result.Content.ReadAsStringAsync(); 
        if (content.Length > 2)
            _navigationManager.NavigateTo("/", true);
        else
            showError = true;
    }
    public async Task<HttpResponseMessage> LoginApiCall()
    {
        return await _http.SendWithContent(HttpMethod.Post,"api/Users/Login",User);
    }

}
