@page "/Login"
@inject NavigationManager _navigationManager
@inject HttpClientWrapper _http;

<h1>Login page :)</h1>
<EditForm Model=@User OnSubmit=@LoginUser>
    <div class = "@showErrorClass alert alert-danger">
        <p>We couldn't log you in with the given details.</p>
    </div>
    <div class="col-6">
        <input type = "text" @bind="User.Email" class="form-control" placeholder="email"/>
    </div>
    <div class="col-6">
        <input type = "password" @bind="User.Pw" class="form-control" placeholder="password"/>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</EditForm>

@code {
    public User User = new();
    bool showError = false;
    string showErrorClass => showError ?  "" : "collapse";

    public async Task LoginUser()
    {
        var result = await LoginApiCall();
        var content = await result.Content.ReadAsStringAsync(); 
        if (content.Length > 2)
            _navigationManager.NavigateTo("/", true);
        else
            showError = true;
    }
    public async Task<HttpResponseMessage> LoginApiCall()
    {
        return await _http.SendWithContent(HttpMethod.Post,"api/Users/Login",User);
    }

}
