@page "/Products"
@page "/Products/{Type}"
@inject HttpClientWrapper _http;

<h1 class="display-5 text-center text-white">Products</h1>

<ItemsList>
    @foreach(Models.DB.Product p in productsToRender)
    {
        <ProductComponent Id=@p.Id Name=@p.Name Desc=@p.Description ImgURL=@p.Imgurl Price =@p.Price></ProductComponent>
    }
</ItemsList>

@code
{
    [Parameter]
    public string? Type { get; set; }

    List<Models.DB.Product> productsToRender { get; set; } = new();

    List<Models.DB.Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await _http.Send(HttpMethod.Get, "/api/Products");
        if(result.IsSuccessStatusCode)
        {
            products = JsonSerializer.Deserialize<List<Models.DB.Product>>(await result.Content.ReadAsStringAsync()) ?? new();
        }
    }

    protected override void OnParametersSet()
    {
        if(Type is not null)
        {
            productsToRender = products.Where(x => x.Type == int.Parse(Type)).ToList();
        }
        else
        {
            productsToRender = products;
        }
    }

}