* {
    transition: 100ms all ease-in-out;
}
.page
{
    position:relative;
    display:flex;
    flex-direction:column;
    background-color:aliceblue;
}

main
{
    flex:1;
}


@media(min-width:687px) {
    .page
    {
        flex-direction:row;
    }
}

@media(max-width:686px)
{
    article {
        min-height: 100vh;
    }
}

