@inject HttpClientWrapper _http;
@inject NavigationManager _navigationManager;


<div class = "top-row navbar navbar-dark justify-content-end text-white-50">
    <AuthorizeView>
        <Authorized>
            <div class="navItems">
                <a href="/Profile" class="text-decoration-none text-white-50">
                    <h3>Hello @context.User.Identity.Name!</h3>
                </a>
                <Cart/>
                <button class="btn btn-danger" @onclick=@LogoutUser>Logout</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="/Login" class="btn btn-light me-5">Login</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    public async Task LogoutUser()
    {
        await _http.Send(HttpMethod.Get,"/api/Users/Logout");
        _navigationManager.NavigateTo("/", true);
    }


}
