<div class = "top-row navbar navbar-dark flex-nowrap">
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-center align-items-center">
        <AuthorizeView>
            <Authorized>
                <Cart/>
            </Authorized>
        </AuthorizeView>
        <a href="/" class="navbar-brand px-3 m-1">IT Store</a>
    </div>
</div>

@code {
    [Parameter]
    public bool collapseNavMenu { get; set; } = true;

    [Parameter]
    public EventCallback<bool> collapseNavMenuChanged { get; set; }

    private async void ToggleNavMenu()
    { 
        collapseNavMenu = !collapseNavMenu;
        await collapseNavMenuChanged.InvokeAsync(collapseNavMenu);
    }

}
