<a href = "@navLink" style="width:15rem; flex:1 0 auto;"  class="m-1 p-1 text-decoration-none d-flex flex-column justify-content-center align-items-center border-bottom border-end border-start card">
    <img class="card-img-top" style="height:100px; width:150px;" src="@picUrl"/>
    <div class="card-body">
        <h5 style="text-align:center;" class="text-decoration-none text-black">@Text</h5>
    </div>
</a>


@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string picUrl { get; set; }
    [Parameter]
    public string navLink { get; set; }
}
