<a href = "@navLink" class="col text-decoration-none d-flex flex-column justify-content-center align-items-center border-bottom border-end border-start">
    <div style="text-align:center;">
        <img style="width:64px" src="@picUrl"/>
        <h2 style="text-align:center;" class="text-decoration-none text-black mt-2">@Text</h2>
    </div>
</a>


@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string picUrl { get; set; }
    [Parameter]
    public string navLink { get; set; }
}
