<a href = "@navLink" style="width:15rem; flex:1 0 auto; background-color:rgba(255,255,255,0.1); border-radius:5px;"  class="m-1 p-1 text-decoration-none d-flex flex-column justify-content-center align-items-center card">
    <img class="card-img-top" style="height:100px; width:150px;" src="@picUrl"/>
    <div class="card-body">
        <h5 style="text-align:center;text-shadow:1px 1px black;font-weight:300;" class="text-decoration-none text-white">@Text</h5>
    </div>
</a>


@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string picUrl { get; set; }
    [Parameter]
    public string navLink { get; set; }
}
