<div class="container">
    <div class="row flex-row justify-content-center">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
