<div class="content @Col d-flex flex-row p-2 mt-3 " style="min-height:500px;background-color:rgba(0,0,0,0.3);border:1px solid black;border-radius:10px;">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Col{ get; set; }
    [Parameter]
    public RenderFragment ChildContent{ get; set; }

}
