<div class="content @Classes d-flex p-2 mt-3 p-2 me-2" style="overflow-x:auto;min-height:100%;background-color:rgba(0,0,0,0.3);border:1px solid black;border-radius:10px;">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Classes{ get; set; }
    [Parameter]
    public RenderFragment ChildContent{ get; set; }

}
