    
<label class="m-3">
    <InputRadio Value=@Value></InputRadio>
    <img src=@Imgurl style="width:150px"/>
</label>

@code {
    [Parameter]
    public string Value{ get; set; }
    [Parameter]
    public string Imgurl{ get; set; }

}
