    
<label class="m-3">
    <InputRadio Value=@Value class="customCheckBox"></InputRadio>
    <img src="https://cdn.mos.cms.futurecdn.net/Co6eHbLjAcTYheqWTjuvGK.jpg" style="width:150px"/>
</label>

@code {
    [Parameter]
    public string Value{ get; set; }

}
