@inject ILocalStorageService localStorage

<div class="card col-2 m-2 text-white" style="width:200px; background-color:rgba(255,255,255,0.1);">
    <img class = "card-img-top" style="height:150px;" src="@ImgURL"/>
    <div class="card-body">
        <h5>@Name</h5>
        <p>@Desc</p>
        <p>@Price Ft.</p>
        <AuthorizeView>
            <Authorized>
                <button class="btn btn-danger" @onclick="AddItem">Add</button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Desc { get; set; }
    [Parameter]
    public int Price { get; set; }
    [Parameter]
    public string ImgURL { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }


    public async Task AddItem()
    {
        var userEmail = await GetUserFromAuthState.GetEmailFromAuthUser(authenticationState);
        if(userEmail is not "")
        {
            if(await localStorage.ContainKeyAsync(userEmail))
            {
                var cart = await localStorage.GetItemAsync<List<string>>(userEmail);
                cart.Add(Id.ToString());
                await localStorage.SetItemAsync(userEmail,cart);
            }
            else
            {
                await localStorage.SetItemAsync(userEmail,new List<string>() {Id.ToString()});
            }
        }   
    }

}
